<a href="https://colab.research.google.com/github/damerei/DS-Unit-2-Sprint-3-Classification-Validation/blob/master/LS_DS_241_Categorical_Encoding_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science — Practicing & Understanding Predictive Modeling_

# Categorical Encoding

### [category_encoders](http://contrib.scikit-learn.org/categorical-encoding/)

Install category_encoders, version >= 2.0.0
- Google Colab: `pip install category_encoders`
- Local, Anaconda: `conda install -c conda-forge category_encoders`

In [0]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.9.0)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.2.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)

In [0]:
import category_encoders as ce
ce.__version__

'2.0.0'

### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- [Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)
- [Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

### Can you predict if peer-to-peer loans are charged off or fully paid?

[Lending Club says,](https://www.lendingclub.com/) _"Our mission is to transform the banking system to make credit more affordable and investing more rewarding."_ You can view their [loan statistics and visualizations](https://www.lendingclub.com/info/demand-and-credit-profile.action).

[According to Wikipedia,](https://en.wikipedia.org/wiki/Lending_Club) _Lending Club is the world's largest peer-to-peer lending platform._

>Lending Club enables borrowers to create unsecured personal loans between $1,000 and 40,000. The standard loan period is three years. Investors can search and browse the loan listings on Lending Club website and select loans that they want to invest in based on the information supplied about the borrower, amount of loan, loan grade, and loan purpose. Investors make money from interest. Lending Club makes money by charging borrowers an origination fee and investors a service fee.

The data is a stratified sample of 100,000 Lending Club peer-to-peer loans with a loan status of "Charged Off" or "Fully Paid", issued from 2007 through 2018.

The set of variables included here are the intersection of what's available both when investors download historical data and when investors browse loans for manual investing.

Target: `charged_off`

Data dictionary: https://resources.lendingclub.com/LCDataDictionary.xlsx

In [0]:
import pandas as pd
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
url = 'https://drive.google.com/uc?export=download&id=1AafT_i1dmfaxqKiyFofVndleKozbQw3l'
df = pd.read_csv(url)
df.shape

(100000, 104)

In [0]:
from sklearn.model_selection import train_test_split

X = df.drop(columns='charged_off')
y = df['charged_off']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, train_size=0.80, test_size=0.20, stratify=y, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((80000, 103), (20000, 103), (80000,), (20000,))

In [0]:
y_train.value_counts(normalize=True)

0    0.80045
1    0.19955
Name: charged_off, dtype: float64

In [0]:
X_train.describe(include='number').T

,count,mean,std,min,25%,50%,75%,max
id,80000.0,1.667101e+06,384960.937520,1000000.00,1.333199e+06,1667750.500,1998223.000,2336172.00
member_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_amnt,80000.0,1.438593e+04,8653.335024,1000.00,8.000000e+03,12000.000,20000.000,40000.00
funded_amnt,80000.0,1.437877e+04,8649.381479,1000.00,8.000000e+03,12000.000,20000.000,40000.00
installment,80000.0,4.372868e+02,260.270011,23.61,2.495400e+02,374.640,578.265,1566.80
annual_inc,80000.0,7.587264e+04,59552.605399,0.00,4.576000e+04,65000.000,90000.000,6000000.00
url,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti,79988.0,1.836223e+01,12.294500,0.00,1.188000e+01,17.635,24.120,999.00
delinq_2yrs,80000.0,3.147875e-01,0.866750,0.00,0.000000e+00,0.000,0.000,20.00
inq_last_6mths,80000.0,6.546125e-01,0.936913,0.00,0.000000e+00,0.000,1.000,7.00
mths_since_last_delinq,39660.0,3.434501e+01,21.929155,0.00,1.600000e+01,31.000,50.000,226.00
mths_since_last_record,13622.0,7.083593e+01,26.757617,0.00,5.300000e+01,72.000,91.000,119.00
open_acc,80000.0,1.160708e+01,5.461223,0.00,8.000000e+00,11.000,14.000,71.00
pub_rec,80000.0,2.137125e-01,0.565591,0.00,0.000000e+00,0.000,0.000,13.00
revol_bal,80000.0,1.623509e+04,21544.764197,0.00,6.019000e+03,11209.500,19808.000,898146.00
total_acc,80000.0,2.499205e+01,11.945675,2.00,1.600000e+01,23.000,32.000,176.00
collections_12_mths_ex_med,79997.0,1.587560e-02,0.135643,0.00,0.000000e+00,0.000,0.000,4.00
mths_since_last_major_derog,21121.0,4.376010e+01,21.346849,0.00,2.700000e+01,44.000,61.000,226.00
annual_inc_joint,1452.0,1.183344e+05,59142.189675,26976.00,8.200000e+04,107250.000,140737.500,642000.00
dti_joint,1452.0,1.892730e+01,7.537044,0.84,1.343750e+01,18.650,23.950,69.49
acc_now_delinq,80000.0,5.100000e-03,0.075326,0.00,0.000000e+00,0.000,0.000,3.00
tot_coll_amt,75994.0,2.400777e+02,2201.623649,0.00,0.000000e+00,0.000,0.000,309838.00
tot_cur_bal,75994.0,1.400099e+05,154611.532201,0.00,2.947800e+04,80189.000,208341.250,5172185.00
open_acc_6m,31574.0,1.046969e+00,1.214302,0.00,0.000000e+00,1.000,2.000,15.00
open_act_il,31574.0,2.799392e+00,3.003969,0.00,1.000000e+00,2.000,3.000,37.00
open_il_12m,31574.0,7.741496e-01,1.007941,0.00,0.000000e+00,1.000,1.000,20.00
open_il_24m,31574.0,1.738677e+00,1.694017,0.00,1.000000e+00,1.000,2.000,30.00
mths_since_rcnt_il,30780.0,1.956559e+01,24.456717,0.00,6.000000e+00,12.000,22.000,411.00
total_bal_il,31574.0,3.559307e+04,41840.997548,0.00,9.633250e+03,24056.000,46601.000,706085.00
il_util,27313.0,7.130030e+01,22.862406,0.00,5.800000e+01,74.000,87.000,291.00
open_rv_12m,31574.0,1.416799e+00,1.577092,0.00,0.000000e+00,1.000,2.000,20.00
open_rv_24m,31574.0,3.003389e+00,2.714224,0.00,1.000000e+00,2.000,4.000,43.00
max_bal_bc,31574.0,5.564733e+03,5671.510196,0.00,2.190000e+03,4238.000,7189.000,361299.00
all_util,31572.0,5.813056e+01,20.844126,0.00,4.400000e+01,59.000,73.000,198.00
total_rev_hi_lim,75994.0,3.276671e+04,32517.348356,0.00,1.420000e+04,24200.000,40700.000,914900.00
inq_fi,31574.0,1.083676e+00,1.579861,0.00,0.000000e+00,1.000,2.000,24.00
total_cu_tl,31574.0,1.609362e+00,2.816779,0.00,0.000000e+00,0.000,2.000,45.00
inq_last_12m,31574.0,2.294768e+00,2.504900,0.00,1.000000e+00,2.000,3.000,36.00
acc_open_past_24mths,77148.0,4.691113e+00,3.194332,0.00,2.000000e+00,4.000,6.000,49.00
avg_cur_bal,75993.0,1.340204e+04,16134.238275,0.00,3.103000e+03,7349.000,18588.000,445856.00
bc_open_to_buy,76350.0,1.021621e+04,15406.411768,0.00,1.481250e+03,4698.000,12387.000,292422.00
bc_util,76305.0,5.995939e+01,28.228322,0.00,3.820000e+01,63.000,84.900,183.60
chargeoff_within_12_mths,79997.0,9.412853e-03,0.112025,0.00,0.000000e+00,0.000,0.000,7.00
delinq_amnt,80000.0,1.490902e+01,1107.085590,0.00,0.000000e+00,0.000,0.000,249925.00
mo_sin_old_il_acct,73830.0,1.261157e+02,52.186860,1.00,9.800000e+01,129.000,153.000,549.00
mo_sin_old_rev_tl_op,75993.0,1.815375e+02,94.283565,5.00,1.180000e+02,164.000,229.000,803.00
mo_sin_rcnt_rev_tl_op,75993.0,1.315224e+01,16.391837,0.00,4.000000e+00,8.000,16.000,324.00
mo_sin_rcnt_tl,75994.0,7.881714e+00,8.800764,0.00,3.000000e+00,5.000,10.000,174.00
mort_acc,77148.0,1.662506e+00,1.993026,0.00,0.000000e+00,1.000,3.000,34.00
mths_since_recent_bc,76397.0,2.383154e+01,30.989525,0.00,6.000000e+00,13.000,28.000,639.00
mths_since_recent_bc_dlq,19048.0,3.955386e+01,22.642272,0.00,2.100000e+01,38.000,58.000,158.00
mths_since_recent_inq,69592.0,6.712582e+00,5.854936,0.00,2.000000e+00,5.000,10.000,25.00
mths_since_recent_revol_delinq,26823.0,3.579995e+01,22.351797,0.00,1.700000e+01,33.000,52.000,158.00
num_accts_ever_120_pd,75994.0,5.054083e-01,1.300517,0.00,0.000000e+00,0.000,0.000,28.00
num_actv_bc_tl,75994.0,3.645630e+00,2.236697,0.00,2.000000e+00,3.000,5.000,32.00
num_actv_rev_tl,75994.0,5.658578e+00,3.302315,0.00,3.000000e+00,5.000,7.000,41.00
num_bc_sats,76688.0,4.741850e+00,2.949986,0.00,3.000000e+00,4.000,6.000,48.00
num_bc_tl,75994.0,8.114772e+00,4.776316,0.00,5.000000e+00,7.000,11.000,66.00
num_il_tl,75994.0,8.557399e+00,7.330757,0.00,4.000000e+00,7.000,11.000,121.00
num_op_rev_tl,75994.0,8.286154e+00,4.532487,0.00,5.000000e+00,7.000,10.000,61.00
num_rev_accts,75994.0,1.462513e+01,8.082111,0.00,9.000000e+00,13.000,19.000,94.00
num_rev_tl_bal_gt_0,75994.0,5.606877e+00,3.216235,0.00,3.000000e+00,5.000,7.000,35.00
num_sats,76688.0,1.165078e+01,5.470515,0.00,8.000000e+00,11.000,14.000,71.00
num_tl_120dpd_2m,72953.0,7.264951e-04,0.027943,0.00,0.000000e+00,0.000,0.000,2.00
num_tl_30dpd,75994.0,3.552912e-03,0.062940,0.00,0.000000e+00,0.000,0.000,2.00
num_tl_90g_dpd_24m,75994.0,8.629629e-02,0.487039,0.00,0.000000e+00,0.000,0.000,18.00
num_tl_op_past_12m,75994.0,2.177540e+00,1.843496,0.00,1.000000e+00,2.000,3.000,28.00
pct_tl_nvr_dlq,75980.0,9.420281e+01,8.695254,0.00,9.140000e+01,97.900,100.000,100.00
percent_bc_gt_75,76330.0,4.522486e+01,35.973379,0.00,1.110000e+01,42.900,75.000,100.00
pub_rec_bankruptcies,79963.0,1.356002e-01,0.380332,0.00,0.000000e+00,0.000,0.000,7.00
tax_liens,79999.0,5.006313e-02,0.344324,0.00,0.000000e+00,0.000,0.000,12.00
tot_hi_cred_lim,75994.0,1.732579e+05,172627.965229,0.00,4.994300e+04,112263.500,250738.000,5369659.00
total_bal_ex_mort,77148.0,4.941473e+04,46002.038954,0.00,2.098600e+04,37198.000,62519.000,857028.00
total_bc_limit,77148.0,2.169760e+04,21648.280429,0.00,7.800000e+03,15100.000,28100.000,470900.00
total_il_high_credit_limit,75994.0,4.196821e+04,42314.131046,0.00,1.489175e+04,31742.500,56441.750,954503.00
revol_bal_joint,1028.0,3.116591e+04,26722.770632,290.00,1.366100e+04,24585.000,39759.000,357135.00
sec_app_inq_last_6mths,1028.0,7.782101e-01,1.084292,0.00,0.000000e+00,0.000,1.000,6.00
sec_app_mort_acc,1028.0,1.640078e+00,1.878705,0.00,0.000000e+00,1.000,3.000,11.00
sec_app_open_acc,1028.0,1.124611e+01,6.332766,0.00,7.000000e+00,10.000,15.000,37.00
sec_app_revol_util,1015.0,5.734975e+01,25.849434,0.00,3.880000e+01,58.500,77.750,132.30
sec_app_open_act_il,1028.0,2.873541e+00,3.123794,0.00,1.000000e+00,2.000,4.000,24.00
sec_app_num_rev_accts,1028.0,1.281615e+01,8.216416,0.00,7.000000e+00,11.000,17.000,56.00
sec_app_chargeoff_within_12_mths,1028.0,3.891051e-02,0.242599,0.00,0.000000e+00,0.000,0.000,4.00
sec_app_collections_12_mths_ex_med,1028.0,8.754864e-02,0.445819,0.00,0.000000e+00,0.000,0.000,8.00
sec_app_mths_since_last_major_derog,362.0,3.761326e+01,25.377911,0.00,1.400000e+01,36.000,60.000,105.00

In [0]:
X_train.describe(exclude='number').T.sort_values(by='unique')

                          count unique                 top   freq
term                      80000      2           36 months  60781
application_type          80000      2          Individual  78548
initial_list_status       80000      2                   w  46513
disbursement_method       80000      2                Cash  79612
home_ownership            80000      6            MORTGAGE  39614
grade                     80000      7                   B  23583
emp_length                75387     11           10+ years  26395
purpose                   80000     14  debt_consolidation  46509
sub_grade                 80000     35                  C1   5049
addr_state                80000     50                  CA  11523
sec_app_earliest_cr_line   1028    334            Aug-2006     17
int_rate                  80000    561              10.99%   2376
earliest_cr_line          80000    635            Aug-2001    569
zip_code                  80000    875               945xx    895
revol_util                79946   1089                  0%    385
title                     79017   5553  Debt consolidation  39386
desc                       7357   7333                         16
emp_title                 74928  36658             Teacher   1285

## Categorical exploration, 1 feature at a time

Change `feature`, then re-run these cells!

In [0]:
feature = 'addr_state'

In [0]:
X_train[feature].value_counts()

CA    11523
TX     6565
NY     6417
FL     5822
IL     3097
NJ     2875
PA     2685
OH     2585
GA     2528
VA     2326
NC     2159
MI     2110
AZ     1952
MA     1905
MD     1838
CO     1720
WA     1718
MN     1410
IN     1314
MO     1265
TN     1226
CT     1181
NV     1158
WI     1071
OR      984
SC      968
AL      968
LA      942
KY      766
OK      756
KS      642
AR      634
UT      608
NM      479
MS      428
HI      399
NH      377
RI      332
WV      318
MT      251
NE      217
DE      212
DC      212
AK      201
SD      190
WY      171
VT      167
ME      114
ID      112
ND      102
Name: addr_state, dtype: int64

In [0]:
X_train[[feature]].head()

      addr_state
25539         MT
28968         NV
34666         NY
20864         CA
75088         CA

### One Hot Encoding

Warning: May run slow, or run out of memory, with high cardinality categoricals!

In [0]:
encoder = ce.OneHotEncoder(use_cat_names=True)
encoded = encoder.fit_transform(X_train[[feature]])
print(f'{len(encoded.columns)} columns')
encoded.head()

50 columns

,addr_state_MT,addr_state_NV,addr_state_NY,addr_state_CA,addr_state_AZ,addr_state_TX,addr_state_KY,addr_state_MS,addr_state_NJ,addr_state_GA,addr_state_PA,addr_state_CO,addr_state_IL,addr_state_MI,addr_state_CT,addr_state_KS,addr_state_SC,addr_state_TN,addr_state_AL,addr_state_VA,addr_state_MD,addr_state_WA,addr_state_AR,addr_state_NM,addr_state_OK,addr_state_OH,addr_state_FL,addr_state_IN,addr_state_MO,addr_state_NE,addr_state_DE,addr_state_MA,addr_state_VT,addr_state_LA,addr_state_MN,addr_state_UT,addr_state_WI,addr_state_NC,addr_state_DC,addr_state_RI,addr_state_OR,addr_state_WV,addr_state_NH,addr_state_HI,addr_state_ID,addr_state_SD,addr_state_ND,addr_state_AK,addr_state_ME,addr_state_WY
25539,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28968,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34666,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20864,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
75088,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Binary Encoding

In [0]:
encoder = ce.BinaryEncoder()
encoded = encoder.fit_transform(X_train[[feature]])
print(f'{len(encoded.columns)} columns')
encoded.head()

7 columns

,addr_state_0,addr_state_1,addr_state_2,addr_state_3,addr_state_4,addr_state_5,addr_state_6
25539,0,0,0,0,0,0,1
28968,0,0,0,0,0,1,0
34666,0,0,0,0,0,1,1
20864,0,0,0,0,1,0,0
75088,0,0,0,0,1,0,0

In [0]:
import math
math.sqrt(50)

7.0710678118654755

### "Ordinal" Encoding

In [0]:
encoder = ce.OrdinalEncoder()
encoded = encoder.fit_transform(X_train[[feature]])
print(f'1 column, {encoded[feature].nunique()} unique values')
encoded.head()

1 column, 50 unique values

       addr_state
25539           1
28968           2
34666           3
20864           4
75088           4

### Target (Mean) Encoding

Warning: May overfit!

In [0]:
first5 = X_train[feature].head().values
train = pd.concat([X_train, y_train], axis='columns')
target_mean = train.groupby(feature)['charged_off'].mean()
target_mean[first5]

addr_state
MT    0.163347
NV    0.202936
NY    0.218015
CA    0.200295
CA    0.200295
Name: charged_off, dtype: float64

In [0]:
min_samples_leaf = 10
encoder = ce.TargetEncoder(min_samples_leaf=min_samples_leaf)
encoded = encoder.fit_transform(X_train[[feature]], y_train)
print(f'1 column, {encoded[feature].nunique()} unique values, min_samples_leaf={min_samples_leaf}')
encoded.head()

1 column, 50 unique values, min_samples_leaf=10

       addr_state
25539    0.163347
28968    0.202936
34666    0.218015
20864    0.200295
75088    0.200295

In [0]:
min_samples_leaf = 100
encoder = ce.TargetEncoder(min_samples_leaf=min_samples_leaf)
encoded = encoder.fit_transform(X_train[[feature]], y_train)
print(f'1 column, {encoded[feature].nunique()} unique values, min_samples_leaf={min_samples_leaf}')
encoded.head()

1 column, 50 unique values, min_samples_leaf=100

       addr_state
25539    0.163347
28968    0.202936
34666    0.218015
20864    0.200295
75088    0.200295

In [0]:
min_samples_leaf = 1000
encoder = ce.TargetEncoder(min_samples_leaf=min_samples_leaf)
encoded = encoder.fit_transform(X_train[[feature]], y_train)
print(f'1 column, {encoded[feature].nunique()} unique values, min_samples_leaf={min_samples_leaf}')
encoded.head()

1 column, 28 unique values, min_samples_leaf=1000

/usr/local/lib/python3.6/dist-packages/category_encoders/target_encoder.py:170: RuntimeWarning: overflow encountered in exp
  smoove = 1 / (1 + np.exp(-(stats['count'] - self.min_samples_leaf) / self.smoothing))

       addr_state
25539    0.199550
28968    0.202936
34666    0.218015
20864    0.200295
75088    0.200295

### BONUS: Data Wrangling / Feature Engineering Example

In [0]:
def wrangle(X):
    X = X.copy()
    
    # Drop some columns
    X = X.drop(columns='id')  # id is random
    X = X.drop(columns=['member_id', 'url', 'desc'])  # All null
    X = X.drop(columns='title')  # Duplicative of purpose
    X = X.drop(columns='grade')  # Duplicative of sub_grade
    
    # Transform sub_grade from "A1" - "G5" to 1.1 - 7.5
    def wrangle_sub_grade(x):
        first_digit = ord(x[0]) - 64
        second_digit = int(x[1])
        return first_digit + second_digit/10
    
    X['sub_grade'] = X['sub_grade'].apply(wrangle_sub_grade)

    # Convert percentages from strings to floats
    X['int_rate'] = X['int_rate'].str.strip('%').astype(float)
    X['revol_util'] = X['revol_util'].str.strip('%').astype(float)
        
    # Transform earliest_cr_line to an integer: how many days it's been open
    X['earliest_cr_line'] = pd.to_datetime(X['earliest_cr_line'], infer_datetime_format=True)
    X['earliest_cr_line'] = pd.Timestamp.today() - X['earliest_cr_line']
    X['earliest_cr_line'] = X['earliest_cr_line'].dt.days
    
    # Create features for three employee titles: teacher, manager, owner
    X['emp_title'] = X['emp_title'].str.lower()
    X['emp_title_teacher'] = X['emp_title'].str.contains('teacher', na=False)
    X['emp_title_manager'] = X['emp_title'].str.contains('manager', na=False)
    X['emp_title_owner']   = X['emp_title'].str.contains('owner', na=False)
    
    # Drop categoricals with highest cardinality
    X = X.drop(columns=['emp_title', 'zip_code'])
    
    # Transform features with many nulls to binary flags
    many_nulls = ['sec_app_mths_since_last_major_derog',
                  'sec_app_revol_util',
                  'sec_app_earliest_cr_line',
                  'sec_app_mort_acc',
                  'dti_joint',
                  'sec_app_collections_12_mths_ex_med',
                  'sec_app_chargeoff_within_12_mths',
                  'sec_app_num_rev_accts',
                  'sec_app_open_act_il',
                  'sec_app_open_acc',
                  'revol_bal_joint',
                  'annual_inc_joint',
                  'sec_app_inq_last_6mths',
                  'mths_since_last_record',
                  'mths_since_recent_bc_dlq',
                  'mths_since_last_major_derog',
                  'mths_since_recent_revol_delinq',
                  'mths_since_last_delinq',
                  'il_util',
                  'emp_length',
                  'mths_since_recent_inq',
                  'mo_sin_old_il_acct',
                  'mths_since_rcnt_il',
                  'num_tl_120dpd_2m',
                  'bc_util',
                  'percent_bc_gt_75',
                  'bc_open_to_buy',
                  'mths_since_recent_bc']

    for col in many_nulls:
        X[col] = X[col].isnull()
    
    # For features with few nulls, do mean imputation
    for col in X:
        if X[col].isnull().sum() > 0:
            X[col] = X[col].fillna(X[col].mean())
    
    # Return the wrangled dataframe
    return X

X_train = wrangle(X_train)
X_test  = wrangle(X_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape